.flex-item {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.base {
    margin-bottom: 15px;
    background-color: #d0d3d4;
    border-radius: 4px;
}

.bloco1 {
    background-color: #31d2ee;
    width: 100px;
    height: 100px;
    
   
}
.bloco2 {
    background-color: #23204d;
    width: 100px;
    height: 100px;
    
  
}
.bloco3 {
    background-color: #ee3150;
    width: 100px;
    height: 100px;
    
   
}
.bloco4 {
    background-color: #f8e329;
    width: 100px;
    height: 100px;
    
   
}

.container {
 
    padding: 15px;
    height:70px;
    width: 1000px;
    display: flex;
    justify-content: flex-start;
   
}

.container2 {
   
    padding: 15px;
    height:70px;
    width: 1000px;
    display: flex;
    justify-content: flex-end;
   

}

.container3 {
    
    padding: 15px;
    height:70px;
    width: 1000px;
    display: flex;
    justify-content: center;
   

}

.container4 {
   
    padding: 15px;
    height:70px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
   

}

.container5 {
    
    padding: 15px;
    height:70px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
   

}

.container6 {
    
    padding: 15px;
    height:70px;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
   

}



